:root{
  --primary-color:#D61C4E;
  --primary-color-dark:#a02a4a;
  --primary-color-ligth:#ff4778;
  --bg-color-primary: #131b3d;
  --txt-bg-color-primary:#5263b3;

}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700;800&display=swap');

html,body{
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15pt;
}

.titulo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
/* Botones */
.btn{
  border:transparent;
  border-radius: 50px;
  padding: .5em 1.5em;
}

.btn-primary{
  background-color: var(--primary-color);
}

.btn-primary:hover{
  background-color: var(--primary-color-ligth);
}

.no-padding{
  padding: 0;
}

.text-center{
  text-align: center;
}

.no-bullets{
  list-style: none;
}

.seccion{
  padding:2.5em 0;
}

.nav-icon{
  display:none !important;
}

/* =================== 
PRED STYLES
=================== */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  /* ===========================
 
   COVER.CSS

 ============================= */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

.cover-container {
  max-width: 50em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


/* ===============
GRADIENT
=============== */

.gradient-background{
    background: linear-gradient(196deg, #f12711, #f5af19);
    background-size: 400% 400%;
    -webkit-animation: gradientAnimation 5s ease infinite;
    -moz-animation: gradientAnimation 5s ease infinite;
    animation: gradientAnimation 5s ease infinite;
}

@-webkit-keyframes gradientAnimation {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@-moz-keyframes gradientAnimation {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}
@keyframes gradientAnimation {
    0%{background-position:36% 0%}
    50%{background-position:65% 100%}
    100%{background-position:36% 0%}
}

/* =======================================

FOOTER

======================================= */

footer{
  background-color:var(--bg-color-primary);
  color: var(--txt-bg-color-primary);
  padding: 5em 0;
  margin-top: 4em;
}

footer a{
  text-decoration: none;
  color: var(--txt-bg-color-primary);
}

footer a:hover{
  color: var(--primary-color);
}

footer h3{
  color: white;
  font-size: 1.1em;
  margin-bottom: 2em;
}

footer li{
  margin-bottom: 1em;
  margin-left: 3em;
}

footer .social{
  font-size: 2em;
  margin-right: .5em;
}

footer .copy{
  margin-top: 2em;
}

/* =======================================

PÃGINA DE CONTACTO

======================================= */
#formulario-contacto button{
  margin-top: 3em;
}

#formulario-contacto h3{
  margin: 3em 0;
  color: var(--primary-color);
}

#formulario-contacto i{
  background-color: var(--primary-color);
  color:white;
  padding: .5em;
  border-radius: 50%;
  margin-bottom: 1em;
  margin-right: 1em;
}

#formulario-contacto label{
  margin: 1em 0;
}

  /* ===========================
 
  SLIDER - PORTFOLIO PAGE

 ============================= */
 .swiper {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  background-color:var(--bg-color-primary);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
  border-radius: 30px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 30px;
}

.swiper-slide-shadow-right,.swiper-slide-shadow-left{
  border-radius: 30px;
}

.swiper-slide-visible, .swiper-slide{
  opacity: .08;
}

.swiper-slide-visible.swiper-slide-prev, .swiper-slide-visible.swiper-slide-next{
  opacity: .32;
}

.swiper-slide-visible.swiper-slide-active{
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: var(--primary-color) !important;
}

/* PORTFOLIO LAYOUT */

.row > .column {
  padding: 8px;
  border-radius: 30px;
}



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.portfolio #myBtnContainer{
  margin: 35px 0;
}

.portfolio button.active{
  background-color: var(--primary-color);
  color: white;
  border: transparent;
  box-shadow: none;
}

.portfolio img{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px 0px, rgba(0, 0, 0, 0.22) 0px 15px 12px 0px;
  border-radius: 30px;
}

.portfolio h4{
  margin-top: 35px;
}


/* ===============================================

RESPONSIVE DESIGN

================================================ */

@media(max-width:400px){

  header h3{
    display: none;
  }
  nav{
    position: fixed;
    width: 100%;
    background-color: black;
    bottom: 0;
    left:0;
    padding-top: 10px;
    padding-bottom: 5px;

  }
  .nav-icon{
    display: inline-block !important;
  }

  .text-icon{
    display: none;
  }

}

/* HOME */

/* ACERCA DE */

/* SERVICIOS */

/* PORTAFOLIO */

@media(max-width:400px){

  .column{
    width: 100%;
  }

  .colum .content{
    padding: 25px;
  }

}